p {
  color: var(--color-black);
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.text-third {
  color: var(--color-third) !important;
}
