:root {
  --color-primary: #1a008f;
  --color-secondary: #4f39b4;
  --color-third: #8372da;

  --color-black: #0a0a0a;
  --color-white: white;
  --color-gray: #e6e6e6;

  --color-red: #d9534f;
  --color-green: #5cb85c;
  --color-yellow: #f0ad4e;
}