<h3 class="fw-bold text-primary">Hello!</h3>
<h4 class="text-secondary">Please sing in to continue</h4>
<h5 class="fw-bold text-primary mt-4">Login</h5>
<form [formGroup]="form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <div class="mb-3">
    <label for="userNameInput" class="form-label">User name</label>
    <input
      id="userNameInput"
      type="text"
      class="form-control"
      formControlName="userName"
      placeholder="Your user name"
      [class.is-invalid]="loginForm.submitted && form.get('userName')?.invalid"
    />
    <div class="invalid-feedback">UserName is requiered</div>
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input
      id="passwordInput"
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Your password"
      [class.is-invalid]="loginForm.submitted && form.get('password')?.invalid"
    />
    <div class="invalid-feedback">Password is requiered</div>
  </div>

  <div
    *ngIf="error.displayError"
    class="col-12 alert alert-danger d-flex align-items-center p-2 pt-1 px-3"
    role="alert"
  >
    <i class="bi bi-exclamation-triangle"></i>
    <p class="m-1 mb-0">{{ error.message }}.</p>
  </div>
  <button id="btnLoginSubmit" class="mt-2 btn btn-primary float-end">Continue</button>
</form>
