<div class="modal-header">
  <h2 class="modal-title fw-bold text-primary fs-5" id="deleteToDo">
    Delete to-do
  </h2>
</div>
<div class="modal-body pt-0 mb-0" *ngIf="todo != undefined">
  <p class="mb-0">
    Are you sure that you want to delete the To - Do
    <span class="text-primary">{{ todo.title }}</span
    > from the to-do list?.
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    #closeDeleteToDoDialog
    data-bs-dismiss="modal"
  >
    Cancel
  </button>
  <button id="btnDeleteToDo" type="submit" class="btn btn-primary" (click)="deleteTodo()">
    Delete
  </button>
</div>
