.container-found-content {
  background-image: url(../../../assets/backgrounds/loginBackground.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-found-content {
  .bg-white {
    background-color: var(--color-white);
  }

  .container-found-content-card {
    max-width: 900px;
  }
}

.not-found-content {
  max-width: 600px;
}