<div class="container-todo-item card-todo row">
  <div
    class="px-3 py-2 border-1 col"
    (click)="emitTodo(todo)"
    data-bs-toggle="modal"
    data-bs-target="#updateTodoDialog"
  >
    <h6 id="todo-title" class="pb-0 mb-0 text-black fw-semibold">{{ todo.title }}</h6>
    <span
      id="todo-status"
      class="status-tag"
      [ngClass]="{
        'status-todo': todo.status == 0,
        'status-onGoing': todo.status == 1,
        'status-completed': todo.status == 2
      }"
    >
      {{ this.getStatus(todo.status) }}
    </span>
  </div>
  <div
    id="btnShowDeleteTodo"
    class="col-2 h-auto delete-section d-flex"
    (click)="emitTodo(todo)"
    data-bs-toggle="modal"
    data-bs-target="#deleteTodoDialog"
  >
    <i class="bi bi-trash m-auto delete-icon"></i>
  </div>
</div>
